
/* Body Style */
body {
    background-color: #289FD2;
    margin:0;
}

h1,h2,h3,h4 {
    color: #F56B0D
  }

div {
    font-family: Headerfont;
}
	
p {
	color: lightblack
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
    font-variant: normal;    
}

p strong{
       color: #780FCD
        }
        
p em{
     color: #01D742
     }
     
     
     
/* Box and border style */

.definition {
   border: 1px solid #665544;
   background-color: #FFFF95;
   padding-top: 1px ;
   padding-left: 1px;
   padding-right: 0px;
   padding-bottom: 1px;
   }
     

               
		

div {
    width: 1050px;
    margin: auto;
    border: 1px 1;
    opacity: 0.8;
}

div {
    width: 1150px;
    padding: 25px;
    border: 25px #B6DFFF;
    margin: 25px;
    background: #E3EAF1 ;
}

div {
    border: 2px solid;
    border-radius: 10px;
}

  li {
    display: inline;
   }	


ol {
    list-style: none; 
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: "•"; 
    padding-right: 10px;
    color: blue; 
}

ul {
    list-style-image: https://github.com/jbaergafs/dws1/blob/gh-pages/images/surfer.png?raw=true; 
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: src="https://github.com/jbaergafs/dws1/blob/gh-pages/images/surfer.png?raw=true"; 
    padding-right: 10px;
    color: blue; 
}



<style>
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:#00aaff; background-color:transparent; text-decoration:none}
a:hover   {color:#ff4d4d; background-color:transparent; text-decoration:underline}
a:active  {color:purple; background-color:transparent; text-decoration:underline}
</style>




