

body {
    background-color: #289FD2;
}

h1 {
    color: #F56B0D
    }
	
h2 {
	color: #F56B0D
	}
h3 {
	color: #F56B0D
	}
p {
	color: lightblack
	}
p {
    font-family: "Times New Roman", Times, serif;
}

p.normal {
    font-weight: normal;
}

p.thick {
    font-weight: bold;
}

		

div {
    width: 1050px;
    margin: auto;
    border: 1px 1;
    opacity: 0.8;
}

div {
    width: 1150px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    background: #DCE6EA ;
}

div {
    border: 2px solid;
    border-radius: 25px;
}

  li {
    display: inline;
   }	


ol {
    list-style: none; 
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: "•"; 
    padding-right: 10px;
    color: blue; 
}

ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: "•"; 
    padding-right: 10px;
    color: blue; 
}

ul.circle {list-style-type: circle;}

<style>
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:#00aaff; background-color:transparent; text-decoration:none}
a:hover   {color:#ff4d4d; background-color:transparent; text-decoration:underline}
a:active  {color:purple; background-color:transparent; text-decoration:underline}
</style>




