
body {
    background-color:#EBFAFF;
}


h1 {
	color: #F56B0D
	
	}

h2 {
	color: #F56B0D
	}
h3 {
	color: #F56B0D
	}
p {
	color: lightblack
	}	

div {
    width: 1300px;
    margin: auto;
    border: 1px 0;
    opacity: 0.8;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
