body {
    background-color:  #b3e6ff;
}


h1 {
    color: #F56B0D
    }
    
  li {
    display: inline;
   }	

div {
    width: 1300px;
    margin: auto;
    border: 1px 1;
    opacity: 0.8;
}

div {
    width: 1300px;
    padding: 2px;
    border: 2px solid navy;
    margin: 2px;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

<style>
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:#00aaff; background-color:transparent; text-decoration:none}
a:hover   {color:#ff4d4d; background-color:transparent; text-decoration:underline}
a:active  {color:purple; background-color:transparent; text-decoration:underline}
</style>
