/*****Jose Baerga styles.css file for project2*****/

/****** Body styles ****/

body {
      font-family: 'Yanone Kaffeesatz', arial, sans-serif;
      background-color: rgb(54, 57, 66);
      background-image: url("images/diamond-zag.png");
      width:960;
      padding: 40px;
      margin: 10px auto;
      font-size: 1em;
     }
     
body {
	background-image: url("images/diamond-zag.png");
	}
     	
#index{
      background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 57%,rgba(221,223,227,1) 99%,rgba(245,246,246,1) 100%);
      border: 1px solid #665544;
      padding: 20px;
      border-radius: 20px;
      box-shadow: -5px 5px 15px 7px #000;
     } 
     
/** Main Nav **/
nav li {
	 display: inline;
	 margin: 20px;
	  }	
ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto;
	font-size: 1.5em;
	text-align: center;
	 }	 		    

/*** Text Style ***/

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 4em;
	color: #B9121B;
	text-align: center;
	text-shadow: 5px 3px 5px rgba(150, 150, 150, 1);
	}
	
h2 {
	font-family: 'Poiret One', cursive;
	font-size: 2em;
	color: #B9121B;
	text-shadow: 5px 3px 5px rgba(150, 150, 150, 1);
	}
	
#intro p {
	font-family: Arial, Verdana, sans-serif;
	color: #01A2A6;
	font-size: 1.5em;
	font-weight: normal;
	font-style: normal;
	word-spacing: .3em;
	}
p {
	font-family: Arial, Verdana, sans-serif;
	color: #2F2933;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	}
label {
    font-size: 20px;
    color: #666;
}
  
fieldset { border: none; }
  
#user-details {
    float: left;
    width: 230px;
}
  
#user-message {
    float: right;
    width: 405px;
}
  
textarea { 
    width: 390px;
    height: 175px;     
}

	
/** list styles **/

a:link {
	text-decoration: none;
	color: #EC7263;
	}
	
a:visited {
	color: #57385C;
	}
	
a:hover {
	text-decoration: none;
	color: deeppink;
	}             
             
a:active {
	color: #FFEDBC;
	}
	
ol{
	list-style-type: upper-alpha;
	}

/** sources  **/


.sources {
	background-color: #FFB03B;
	margin: 10px;
	padding:10px;
	text-align: left;
	}    
	
/** image style **/
	
#gallery a {
	border: 2px solid deeppink;
	width: 300px;
	height: 200px;
	display: block;
	}
	
#gallery a:hover {
	border: 2px solid #000;
	}
	 
	
/** Float style **/

header {
	clear: both;
	}
		
#content{
	float: left;
	width: 60%;
  	margin-left: 2%;
  	padding: 20px;
  	}
	

aside {
	float: right;
	width: 25%;
  	margin-right: 4%;
 	background: linear-gradient(to bottom, rgba(196,180,181,1) 0%,rgba(168,58,38,1) 53%); 
 	border: solid 1px #000;
 	padding: 20px;
    border-radius: 20px;
    box-shadow: -5px 5px 15px 7px #000;
	}
	
footer {
	clear: both;
	}

/** icon style **/

h2 {
    background-image: url("images/skateboard1.png");
    background-repeat: no-repeat;
    height: 48px;
    padding: 8px 0 0 60px;
    }
    
/** table **/

.tg  {border-collapse:collapse;
	border-spacing:0;
	border-color:#aabcfe;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;
      border-style:solid;border-width:1px;
      overflow:hidden;word-break:normal;
      border-color:#aabcfe;
      color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;
	  font-size:14px;
	  font-weight:normal;
	  padding:10px 5px; border-style:solid;
	  border-width:1px;
	  overflow:hidden;
	  word-break:normal;
	  border-color:#aabcfe;color:#039;
	  background-color:#b9c9fe;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg.tg-nkf9{font-weight:bold;
      background-color:#ecf4ff;
      color:#003399;
      text-align:center;
      vertical-align:top}
.tg .tg-quxf{background-color:#ffffff;
	  text-align:center;
	  vertical-align:top}
.tg.tg-calz{font-weight:bold;
      background-color:#ecf4ff;
      text-align:center;
      vertical-align:top}

@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}

/** form **/

footer {
		width: 80%;
		height: 2%;
		margin: 0 auto;
		clear: both;
		}
		

form {
    float: left;
    border: 1px solid #ddd;
    padding: 30px 40px 20px 40px;
    margin: 75px 0 0 0;
    width: 715px;
    background: #fff;

}

 form {
    float: center center;
    border: 1px solid #ddd;
    padding: 30px 40px 20px 40px;
    margin: 75px 0 0 0;
    width: 715px;
    background: #fff;
}

input, textarea {  
    padding: 8px;
    margin: 4px 0 20px 0;
    background: #fff;
    width: 220px;
    font-size: 14px;
    color: #555;
    border: 1px #ddd solid;
	-webkit-box-shadow: 0px 0px 4px #aaa;
	-moz-box-shadow: 0px 0px 4px #aaa;
	box-shadow: 0px 0px 4px #aaa; 
	-webkit-transition: background 0.3s linear;    
}

input.submit { 
    width: 150px;
    color: #eee;
    text-transform: uppercase;
    margin-top: 10px;
    background-color: #18a5cc;
    border: none;
	-webkit-transition: -webkit-box-shadow 0.3s linear;
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#18a5cc), to(#0a85a8));
	background:  -moz-linear-gradient(25% 75% 90deg,#0a85a8, #18a5cc);
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input.submit:hover {  
    -webkit-box-shadow: 0px 0px 20px #555;
    -moz-box-shadow: 0px 0px 20px #aaa;
    box-shadow: 0px 0px 20px #555; 
    cursor:  pointer;
}







	
 



